.module-about {
  display: flex;
  flex-direction: column;
}

.about-contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  padding: 2rem;
  height: 100%;
  color: white;
  background-color: hsla(0, 0%, 6%, 0.9);
}

.contact-us-header {
  font-size: 1.2rem;
}

.contact-us-email {
  display: flex;
  gap: 0.5rem;
  font-size: 1.2rem;
}

.contact-us-phone {
  display: flex;
  gap: 0.5rem;
  font-size: 1.2rem;
}

.about-contact-employees {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  height: 100%;
  color: white;
  background-color: hsla(0, 0%, 10%, 0.9);
}

.contact-employees-header {
  font-size: 1.2rem;
}

.contact-employee-ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
}

.li-employee {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}

.contact-position {
  font-weight: bold;
  font-size: 1.2rem;
}

.contact-name {
}

.contact-email {
}

.about-contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  height: 100%;
  background-color: hsla(0, 0%, 6%, 0.9);
  /* border: 5px solid red; */
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.contact-form-header {
  font-size: 1.2rem;
  /* border: 1px solid blue; */
}

.contact-form-div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* border: 1px solid pink; */
}

.contact-form-textarea {
  padding: 0.5rem;
  /* border: 5px solid red; */
}

.contact-form-label {
  /* border: 1px solid red; */
}

.contact-form-btn-submit {
  border: none;
  padding: 0.5rem 2rem;
  transition: color 0.3s ease;
}

/* add media queries - make it look better - commit! */
@media (min-width: 768px) {
  body {
    border: 1px solid red;
  }

  .module-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .about-contact-form {
    grid-column: 1 / 3;
  }
}

@media (min-width: 1200px) {
  body {
    border: 1px solid white;
  }
  .module-about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .about-contact-employees {
    grid-column: 3 / 4;
  }

  .about-contact-form {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
}

@media (hover: hover) {
  .contact-form-btn-submit:hover {
    cursor: pointer;
    color: hsl(300, 80%, 50%);
  }
}
