.module-about {
  display: flex;
  flex-direction: column;
}

.about-contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  padding: 2rem;
  height: 100%;
  color: white;
  background-color: rgb(22, 22, 22);
}

.contact-us-header {
  font-size: 1.5rem;
}

.contact-us-email {
  font-size: 1.2rem;
}

.contact-us-phone {
  font-size: 1.2rem;
}

.about-contact-employees {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  height: 100%;
  color: white;
  background-color: rgb(22, 22, 22);
}

.ul-employee {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
}

.li-employee {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}

.contact-position {
  font-weight: bold;
  font-size: 1.2rem;
}

.contact-name {
}

.contact-email {
}

/* add media queries - make it look better - commit! */
@media (min-width: 768px) {
  body {
    border: 1px solid red;
  }
}

@media (min-width: 1200px) {
  body {
    border: 1px solid white;
  }
}
