.module-home {
  display: flex;
  flex-direction: column;
  /* border: 1px solid rgb(73, 198, 214); */
}

/* section description */
.home-description {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  background-color: hsla(0, 0%, 5%, 0.9);
}

.description-header {
  font-size: 1.5rem;
}

.description-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  list-style-type: none;
}

.description-li {
}

/* section home */
.home-event {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 2rem;
  background-color: hsla(0, 0%, 10%, 0.9);
}

.event-header {
  font-size: 1.2rem;
}

.event-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  list-style-type: none;
}

.event-li {
}

.event-header-location {
}

.event-para-location {
}

/* section opening */
.home-opening {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;

  background-color: hsla(0, 0%, 5%, 0.9);
}

.opening-header {
}

.opening-ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style-type: none;
}

.opening-li {
}

.opening-div-location {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.opening-header-location {
}

.opening-para-location {
}

@media (min-width: 768px) {
  .module-home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 1px solid red; */
  }

  .home-description {
    grid-column: 1 / 2;
    background-color: hsla(0, 0%, 10%, 0.9);
  }

  .home-event {
    grid-column: 2 / 3;
  }

  .home-opening {
    grid-column: 1 / 3;
  }
}

@media (min-width: 1200px) {
  .module-home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* border: 1px solid green; */
  }

  .home-description {
    grid-column: 1 / 2;
    background-color: hsla(0, 0%, 5%, 0.9);
  }

  .home-event {
    grid-column: 2 / 3;
  }

  .home-opening {
    grid-column: 3 / 4;
  }
}
