.module-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  height: 100%;
}

.section-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.section-menu-header {
  width: 100%;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
  border: 2px solid hsl(0, 0%, 37%);
  color: white;
  background-color: rgb(43, 43, 43);
}

/* cards for menu page */
.card-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;

  height: 100%;
  border: 2px solid hsl(0, 0%, 37%);
  color: black;
  background-color: white;
}

.card-div-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.card-menu-header {
  grid-column: 2 / 3;
}

.card-menu-img {
  grid-column: 1 / 2;
  justify-self: start;
  width: 100%;
  height: 100%;
  max-width: 200px;
}

.card-menu-description {
  grid-column: 2 / 3;
}

.card-menu-price {
  grid-column: 2 / 3;
}

@media (min-width: 768px) {
  .module-menu {
    gap: 5rem;
  }

  .menu-drinks,
  .menu-sides,
  .menu-main {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    grid-template-columns: 1fr 1fr;
  }

  .menu-header-drinks,
  .menu-header-sides,
  .menu-header-main {
    grid-column: 1 / -1;
  }
}

@media (min-width: 1200px) {
  .module-menu {
    gap: 5rem;
  }

  .menu-drinks,
  .menu-sides,
  .menu-main {
    /* grid-column: 1 / 3; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .menu-header-drinks,
  .menu-header-sides,
  .menu-header-main {
    grid-column: 1 / -1;
  }
}
