.module-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.menu-drinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.menu-header-drinks {
  width: 100%;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
  border: 2px solid hsl(0, 0%, 37%);
  color: black;
  background-color: white;
}

.menu-sides {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.menu-header-sides {
  width: 100%;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
  border: 2px solid hsl(0, 0%, 37%);
  color: black;
  background-color: white;
}

.menu-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.menu-header-main {
  width: 100%;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
  border: 2px solid hsl(0, 0%, 37%);
  color: black;
  background-color: white;
}

/* cards for menu page */
.card-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;

  border: 2px solid hsl(0, 0%, 37%);
  color: black;
  background-color: white;
}

.card-div-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  /* border: 1px solid red; */
}

.card-menu-header {
  grid-column: 2 / 3;
}

.card-menu-img {
  grid-column: 1 / 2;
  /* max-width: 200px; */
  width: 100%;
}

.card-menu-description {
  grid-column: 2 / 3;
}

.card-menu-price {
  grid-column: 2 / 3;
}

@media (min-width: 768px) {
  .module-menu {
    border: 1px solid red;
  }
}

@media (min-width: 1200px) {
  .module-menu {
    border: 1px solid green;
  }
}
