* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: inherit;
}

:root {
  --col-header-footer: white;
  --bg-header-footer: hsl(60, 2%, 17%);
}

html,
body {
  height: 100%;
}

body {
  background-color: rgb(25, 25, 25);
}

.grid-container {
  display: grid;
  grid-template-rows: 150px 1fr 150px;
  height: 100%;
  /* border: 5px solid rgb(16, 8, 134); */
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--col-header-footer);
  background-color: var(--bg-header-footer);
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.header-text > h1 {
  font-size: 2rem;
}

.header-text > p {
  color: hsl(0, 0%, 60%);
}

.nav-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 1rem;
}

.btn {
  border: none;
  padding: 0.5rem 1.5rem;
  background-color: white;
  cursor: pointer;
  transition:
    color 0.3s ease,
    box-shadow 0.3s ease;
}

.bg-img {
  grid-row: 2;

  position: fixed;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* consists of modules for Home, Menu, Contact */
.content {
  grid-row: 2;

  display: grid;
  /* grid-template-rows: 1fr 1fr 1fr; */
  grid-template-columns: 1fr 1fr 1fr;

  color: #fff;
  z-index: 1;
}

/* page footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--col-header-footer);
  background-color: var(--bg-header-footer);
}

.footer-header {
  /* color: grey; */
}

.footer-ul {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

.footer-ul a {
  font-size: 2rem;
  color: var(--col-header-footer);
  transition: color 0.3s ease;
}

.fa.fa-twitter::before {
  content: "ùïè";
}

.image-sololearn {
  height: 26px;
  width: 26px;
}

.footer-para {
  font-size: 0.7rem;
  color: rgb(182, 182, 182);
}

.active {
  box-shadow: 0px 3px 0px hsl(300, 80%, 50%);
}

/* box-shadow: 0px 5px 0px hsl(300, 80%, 50%);    */

@media (hover: hover) {
  .btn:hover {
    color: hsl(300, 80%, 50%);
  }

  .footer-ul a:hover {
    color: hsl(300, 80%, 50%);
  }
}
